{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugins: A list of implemented plugins.
 * - label: The configured label of the block if visible.
 */
#}
<div{{ attributes }}>

  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}

  {% block content %}

    {% if plugins.dyslexic %}
      <div class="a11y a11y-accesibility a11y-dyslexic">
        <button class="a11y-control a11y-dyslexic-control" id="a11y-dyslexic-button">
          <img src="/modules/contrib/a11y/plugins/icons/dyslexic.png"/>
          <label for="a11y-dyslexic-button">{{ 'Dyslexic' | t }}</label>
        </button>
      </div>
    {% endif %}

    {% if plugins.contrast %}
      <div class="a11y a11y-accesibility a11y-contrast">
        <button data-a11y-action="contrast" class="a11y-control a11y-contrast-control" id="a11y-contrast-button">
          <img src="/modules/contrib/a11y/plugins/icons/contrast.png"/>
          <label for="a11y-contrast-button">{{ 'Contrast' | t }}</label>
        </button>
      </div>
    {% endif %}

    {% if plugins.invert %}
      <div class="a11y a11y-accesibility a11y-invert">
        <button data-a11y-action="invert" class="a11y-control a11y-invert-control" id="a11y-invert-button">
          <img src="/modules/contrib/a11y/plugins/icons/invert.png"/>
          <label for="a11y-contrast-invert-button">{{ 'Invert' | t }}</label>
        </button>
      </div>
    {% endif %}

    {% if plugins.textsize %}
      <div class="a11y a11y-accesibility a11y-textsize">
        <button data-a11y-action="decrease" class="a11y-control a11y-textsize-control" id="a11y-textsize-decrease">
          <img src="/modules/contrib/a11y/plugins/icons/text-decrease.png"/>
          <label for="a11y-textsize-decrease">{{ 'Text decrease' | t }}</label>
        </button>
        <button data-a11y-action="reset" class="a11y-control a11y-textsize-control" id="a11y-textsize-reset">
          <img src="/modules/contrib/a11y/plugins/icons/text-reset.png"/>
          <label for="a11y-textsize-reset">{{ 'Text reset' | t }}</label>
        </button>
        <button data-a11y-action="increase" class="a11y-control a11y-textsize-control" id="a11y-textsize-increase">
          <img src="/modules/contrib/a11y/plugins/icons/text-increase.png"/>
          <label for="a11y-textsize-increase">{{ 'Text increase' | t }}</label>
        </button>
      </div>
    {% endif %}

    {% if plugins.animation %}
      <div class="a11y a11y-accesibility a11y-animation">
        <button class="a11y-control a11y-animation-control is-active" id="a11y-animation-button">
          <img src="/modules/contrib/a11y/plugins/icons/animation.png"/>
          <label for="a11y-animation-button">{{ 'Disable animations' | t }}</label>
        </button>
      </div>
    {% endif %}

  {% endblock %}
</div>
